body{

    background-image: url(1.png);/*margin-top: fed  fpx;**-+7 **/
    /*border-image-repeat: ;   **/

          /*7//*image-    *7      89   *7- +**/
          /*//im   *7? ôöæÜ**//*-7*//*zxæ-*7+***/


/*---7  -*/

  background-repeat: no-repeat;
     background-attachment: fixed;
         background-size: auto;
}

button{
          /*-7*/top: 8.0px;  position: fixed;
       height: 94.20mm;

           width: 80;/*=+.71; **7-* *** 777*/
                  font: 1em Ink Free;
}

textarea{
    /*height: 5.0;-*7 *
    min-height: 500;**/



       width: 44.1%;
           height: 350px;   font: 1.5em sans-serif;
}


  #t5{
    margin-left: 95px;
   /* //*-text-   *  *7jffx *7*/
  }


  #move1{
      background-color: aquamarine;

      color: brown;

        /*fableiuis fgreenmfomofan mof darjkerfd  *-+7a
        98 7**/

        font-size:   /*-*/    5em;/* /**-7*?5”“   //*7xx-large;*-+nm *7 **/
        display: flex;     max-width:      105px;   /*   //*f-a50.0px;*******9f7a484 **    **-7 */
          justify-content: center;

              align-items: center;   position: relative  ;
  }